@media only screen and (min-width: 300px) and (max-width: 500px) {
    .projects-container { 
    padding: 2em;
    }
   .project-tile {
       width: 100%;
   }

}
@media only screen and (max-width: 400px) {
    .profile-container {
        flex-direction: column;
        row-gap: 3em;
    }
    .link {
        display: flex;
    }
    #navbar a {
        font-size: 120%;
        text-decoration: none;
        color: white;
        cursor: pointer;
        padding: 0.5em;
    }
}

@media only screen and (min-width: 800px) {
#welcome-section h1 {
    text-align: center;
    color: white;
    font-size: 5em;
    padding-top: 5em;
    }
header {
    padding: 0 1.9em 0 0;
}
#projects h2  {

    font-size: 2.5em;
 }
#navbar a {
    font-size: 150%;
}
#projects {
    height: 130%;
    padding-bottom: 1em;
}
.projects-container { 
    column-gap: 15px;
    row-gap: 2em;
    display: flex;
    flex-wrap: wrap; 
    padding-left: 3em;
}
.project-tile {
    width: 30%;
    flex-grow: 1;
}
#contact {
    height: 50vh;
}
footer {
    padding-bottom: 1em;
}
}